body {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    background: #111827;
}

.container {
    max-width: 500px;
    margin: 50px auto;
}

.top {
    background-color: #3A69D2;
    color: #fff;
    padding: 40px 80px;
    text-align: center;
}

.top h1,
.top p {
    margin: 0;
    padding: 5px 0;
}

.bottom {
    background: #1F2937;
    color: #fff;
    padding: 20px 40px;
    padding-bottom: 70px;
}

.content-top,
.content-bottom {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: #D5D4D8;
}

.content-top {
    margin-top: 30px;
}

.content-bottom {
    border-top: 1px solid #C3C6DB;
    padding: 0;
    padding-top: 10px;
}

.money {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}

/* BUTTONS */

.buttons {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.option-btn {
    background: #D1D4F4;
    align-items: center;
    padding: 12px 16px;
    border-radius: 7px;
    border: none;
    color: #4A4E74;
    transition: 0.3s;
    cursor: pointer;
}

.option-btn:hover,
.option-btn:focus {
    background: #c1c4e8
}

.invoice-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.send-btn {
    background: #3A69D2;
    padding: 9px 170px;
    border: none;
    color: #fff;
    border-radius: 7px;
    cursor: pointer;
    transition: 0.3s
}

.send-btn:hover,
.send-btn:focus {
    background: #244ca6;
}

/* CONTAINER */

.content {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    font-size: 20px;
    color: #FFF1F2;
}

.money {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#note {
    font-size: 12px;
}

#services-container {
    padding: 10px;
}